/*****************************
* colores utilizados:        *
* #EEEEEE = gris fondo       *
* #00ADB5 = azul             *
* #393E46 = gris medio claro *
* #222831 = negro            *
******************************/
*{
	margin: 0px;
	padding: 0px;
}
body{
	background:#EEEEEE;
}
.formulario{
	height: 35px;
	background:#222831;
	padding:10px;
	margin-bottom:3%;
}
#txt1{
	padding: 5px;
	border-radius: 5px;
	float:left;
	margin: 0% 0% 0% 45%;
}
#txt{
	margin-left:10px;
	padding: 5px;
	border-radius: 5px;
	float:left;
}

#btn{
	margin-left:1%;
	background: #00ADB5;
	border:none;
	float:left;
	border-radius: 5px;
	padding: 7px;
	color: #fff;
}
#btn-2{
	margin-right:1%;
	background: #00ADB5;
	border:none;
	float:left;
	border-radius: 5px;
	padding: 7px;
	color: #fff;
	margin-left:70%;
}
#btn-4{
	margin-right:1%;
	background: #00ADB5;
	border:none;
	float:left;
	border-radius: 5px;
	padding: 7px;
	color: #fff;
}
.titulo{
	color:#EEEEEE;
	float:left;
	font-weight: 700;
	margin-left:5%;
}
footer{
	text-align:center;
	padding:10px;
	color:white;
	background:#00ADB5;
	margin-bottom:0px;
    position:block;
    bottom: 0;
    z-index: 100;
    left: 0;
}
.parrafo{
	float:left;
	text-align:justify;
	width:40%;
	margin: 0% 0% 0% 5%;
	padding:10px;
	
}

.parrafo_v2{
	text-align:justify;
	width:80%;
	margin: 0% 0% 1% 5%;

	
}
h1{
	color:#00ADB5;
	position:block;
	text-align:justify;
	width:70%;
	margin: 0% 0% 0% 0%;
	padding:10px;
}

/************
*   tabla   *
************/
.tabla table{
	position:block;
	background:#fff;		
	text-align:justify;
	width:80%;
	padding:10px;
	margin: 5% 0% 3% 10%;
}
.tabla table tr td{
	padding:10px;
}
.tabla table #titu{
	color:#00ADB5;
	float:left;
	font-size:30px;
	font-weight: 700;
}

.tabla table #titu{
	float:left;
	font-size:30px;
	font-weight: 700;
}

.tabla table #fecha{
	font-weight: 700;
}

.tabla table #contenido{
	width:60%;
	font-weight: 700;
	text-align:justify;
}

.tabla table #tamaño{
	width:50%;
}

#publicar{
	width:94%;
	background: #00ADB5;
	border:none;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
	margin:0% 0% 1% 2%;
}

.main .temas{
	margin: 0% 0% 0% 0%;
	padding:10px;
}

.main .temas #campo_3{
	width:37%;
	margin:10px;
	background:#fff;
	border:solid 2px #00ADB5;
	padding:10px;
	border-radius:5px;
	widows:10%;
	color:#00ADB5;
	font-weight: 600;
	resize: none;
}
.main .temas #campo_2{
	width:49%;
	margin:10px;
	background:#fff;
	border:solid 2px #00ADB5;
	padding:10px;
	border-radius:5px;
	widows:10%;
	color:#00ADB5;
	font-weight: 600;
	resize: none;
}
.main .temas #campo_1{
	width:93%;
	margin:10px;
	background:#fff;
	border:solid 2px #00ADB5;
	padding:10px;
	border-radius:5px;
	widows:10%;
	color:#00ADB5;
	font-weight: 600;
}

.main .caja_2{
	margin: 0% 10% 0% 30%;
	padding:10px;
}

.main .caja_2 #campo_1{
	width:60%;
	margin:10px;
	background:#EEEEEE;
	border:solid 2px #00ADB5;
	padding:10px;
	border-radius:5px;
	widows:10%;
	color:#00ADB5;
	font-weight: 600;
	resize: none;
}
#registro{
	width:95%;
	background: #00ADB5;
	border:none;
	border-radius: 5px;
	padding: 10px;
	color: #fff;
	margin: 0% 0% 0% 1%;
}

.main .tabla table #btn-3 a{
	width:60%;
	margin:0% 0% 0% 10%;
	background: #00ADB5;
	border:none;
	border-radius: 5px;
	padding:7px;
	color: #fff;
	display: block;
	text-decoration:none;
}
.main .tabla table #btn-3 a:hover{
	background:#fff;
	color: #00ADB5;
	border:solid 2px #00ADB5;
	display: block;
}

a{
	width:93%;
	text-align:justify;
	margin-right:1%;
	background: #00ADB5;
	border:none;
	border-radius: 5px;
	padding: 7px;
	color: #fff;
	display: block;
	text-decoration:none;
	margin: 0% 0% 1% 2%;
	display: inline-block;
	text-align: center;	
}
a:hover{
	text-align:center;
	background:#fff;
	color: #00ADB5;
	border:solid 2px #00ADB5;
	display: block;
	display: inline-block;
	text-align: center;			
}

.main .cursos{
	background:#fff;
	border:solid 1px #fff;
	width:95%;
	margin: 0px 0px 2% 2%;
	position:block;
	-webkit-box-shadow: 10px 10px 35px 0px black;
	-moz-box-shadow: 10px 10px 35px 0px black;
	box-shadow: 10px 10px 35px 0px black;
	display: inline-block;
	text-align: left;
}

.main #vid_detalle{
	margin: 0px 2% 2% 2%;
	width:40%;
	height: 35%;
	float:left;
}

.main .cursos .temas_titulo #titulo_detalle{
	margin: 2% 0px 2% 40%;
	text-align: left; 
	font-family: Arial Black; 
	font-weight: bold; font-size: 30px; 
	background: #00ADB5; 
	-webkit-background-clip: text; 
	-moz-background-clip: text; 
	background-clip: text; 
	color: transparent; 
	text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px rgba(0,0,0,0.3);
}


.main .temas{
	background:#fff;
	border:solid 1px #fff;
	width:300px;
	height: 50%;
	margin: 0px 0px 2% 2%;
	position:block;
	-webkit-box-shadow: 10px 10px 35px 0px black;
	-moz-box-shadow: 10px 10px 35px 0px black;
	box-shadow: 10px 10px 35px 0px black;
	display: inline-block;
	text-align: left;	
}
.main .temas .temas_titulo{
	background:#fff;
	margin:3% 0% 0% 0%;
	position:absolute;
	opacity:0.8;
}

.main #img{
	width:300px;
	height: 200px;
}

.main .login{
	background:#fff;
	border:solid 1px #fff;
	width:50%;
	height: 35%;
	margin: 5% 0% 0% 25%;
	position:block;
	-webkit-box-shadow: 10px 10px 35px 0px black;
	-moz-box-shadow: 10px 10px 35px 0px black;
	box-shadow: 10px 10px 35px 0px black;
	display: inline-block;
	text-align: left;	
}


.main .login #campo_3{
	width:37%;
	margin:10px;
	background:#fff;
	border:solid 2px #00ADB5;
	padding:10px;
	border-radius:5px;
	widows:10%;
	color:#00ADB5;
	font-weight: 600;
	resize: none;
}
.main .login #campo_2{
	width:49%;
	margin:10px;
	background:#fff;
	border:solid 2px #00ADB5;
	padding:10px;
	border-radius:5px;
	widows:10%;
	color:#00ADB5;
	font-weight: 600;
	resize: none;
}
.main .login #campo_1{
	width:95%;
	margin:10px;
	background:#fff;
	border:solid 2px #00ADB5;
	padding:10px;
	border-radius:5px;
	widows:10%;
	color:#00ADB5;
	font-weight: 600;
}


.cargar_curso{
	background:#fff;
	border:solid 1px #fff;
	width:90%;
	margin: 0% 0% 0% 5%;
	position:block;
	-webkit-box-shadow: 10px 10px 35px 0px black;
	-moz-box-shadow: 10px 10px 35px 0px black;
	box-shadow: 10px 10px 35px 0px black;
	display: inline-block;
	text-align: left;
	margin: 1% 0% 1% 2%;	
}



.index{
	background:#fff;
	border:solid 1px #fff;
	width:95%;
	margin: 0% 0% 0% 0%;
	position:block;
	-webkit-box-shadow: 10px 10px 35px 0px black;
	-moz-box-shadow: 10px 10px 35px 0px black;
	box-shadow: 10px 10px 35px 0px black;
	display: inline-block;
	text-align: left;
	margin: 0% 0% 1% 2%;	
}

.index .imagen{
	margin: 1% 0% 1% 40%;	
}
.index .titulo_index{
	font-size: 150%;
	font-weight: bold;
	letter-spacing: 5px;
	text-transform: uppercase;
	color:#00ADB5;	
	margin: 0% 0% 0% 2%;
}
.index .texto_index{
	font-size: 130%;
	margin: 0% 0% 0% 2%;
}
.cargar_curso #campo_3{
	width:37%;
	margin:10px;
	background:#fff;
	border:solid 0px #00ADB5;
	padding:10px;
	widows:10%;
	color:#00ADB5;
	font-weight: 600;
	resize: none;
	margin: 1% 0% 1% 2%;
}
.cargar_curso #campo_2{
	width:95%;
	margin:10px;
	background:#fff;
	border:solid 2px #00ADB5;
	padding:10px;
	border-radius:5px;
	widows:10%;
	color:#00ADB5;
	font-weight: 600;
	resize: none;
	margin: 1% 0% 1% 2%;
}
.cargar_curso #campo_1{
	width:95%;
	margin:10px;
	background:#fff;
	border:solid 2px #00ADB5;
	padding:10px;
	border-radius:5px;
	widows:10%;
	color:#00ADB5;
	font-weight: 600;
	margin: 1% 0% 1% 2%;
}

